/* @font-face {
  font-family: ibm plex serif;
  font-weight: 400;
  src: url(.woff) format("woff");
} */

h1,
h2,
h3 {
  font-family: "IBM Plex Serif", Georgia, Cambria, "Times New Roman", Times,
    serif;

  &,
  & a {
    @apply font-thin;
  }
}
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply font-bold;
  transition: all 250ms;
}
a:hover {
  @apply text-vex;
}
